<h1 mat-dialog-title>{{ mode === 'add' ? 'הוסף תוכן' : 'ערוך תוכן' }}</h1>

<div mat-dialog-content>
    <form [formGroup]="form">

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>כותרת</mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>תוכן</mat-label>
            <input matInput formControlName="content" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>חתימה</mat-label>
            <input matInput formControlName="signature" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>קטגוריה</mat-label>
            <mat-select formControlName="categoryID">
                @for (cat of categories; track cat.categoryID) {
                <mat-option [value]="cat.categoryID">
                    {{ cat.categoryName }}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>

        @if (mode === 'edit') {
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>משתמש יוצר</mat-label>
            <input matInput type="number" formControlName="userID" />
        </mat-form-field>
        }
    </form>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="close()">ביטול</button>
    <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">שמור</button>
</div>