<h1 mat-dialog-title>{{ mode === 'add' ? 'הוסף משתמש' : 'ערוך משתמש' }}</h1>

<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>שם</mat-label>
            <input matInput formControlName="userName" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>מייל</mat-label>
            <input matInput formControlName="email" />
        </mat-form-field>
        @if(mode === 'add') {
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>סיסמה</mat-label>
            <input matInput formControlName="password" />
        </mat-form-field>
        }
    </form>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="close()">ביטול</button>
    <button mat-button color="primary" (click)="save()">שמור</button>
</div>