.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  direction: rtl;
  height: 70px;

  .logo {
    height: 70px;
  }

  .menu-button {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 1rem;
  }

  a {
    color: var(--accent-color);
    display: block;
    margin: 1rem 0;
  }

  .backdrop {
    display: none;
  }

  @media (max-width: 768px) {
    .menu-button {
      display: block;
    }

    .nav-links {
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 200px;
      background-color: var(--primary-color);
      
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
      padding: 1rem;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      z-index: 1001;

      &.open {
        transform: translateX(0);
      }
    }

    .backdrop {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
  }
}