<mat-toolbar color="primary" class="toolbar">
    <img src="assets/logo.jpg" alt="לוגו" class="logo" />
    <button mat-icon-button class="menu-button" (click)="toggleMenu()">
        <mat-icon>{{isMenuOpen? 'close': 'menu'}}</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>

    <nav class="nav-links" [ngClass]="{'open': isMenuOpen}">
        <a mat-button routerLink="/dashboard" (click)="closeMenu()">דף הבית</a>
        <a mat-button routerLink="/users" (click)="closeMenu()">ניהול משתמשים</a>
        <a mat-button routerLink="/templates" (click)="closeMenu()">ניהול תבניות</a>
        <a mat-button routerLink="/messages" (click)="closeMenu()">ניהול תכנים</a>
    </nav>
    @if (isMenuOpen) {
    <div class="backdrop" (click)="closeMenu()"></div>
    }

</mat-toolbar>