<mat-toolbar color="primary" class="toolbar">
<button mat-icon-button class="menu-button" (click)="toggleMenu()">
  <mat-icon>menu</mat-icon>
</button>

<span class="title">מערכת ניהול</span>

@if(!showMenu()){
<nav class="nav-links">
    <a mat-button routerLink="/dashboard">דף הבית</a>
    <a mat-button routerLink="/users">ניהול משתמשים</a>
    <a mat-button routerLink="/templates">ניהול תבניות</a>
    <a mat-button routerLink="/messages">ניהול תכנים</a>
  </nav>
}
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/dashboard">דף הבית</button>
    <button mat-menu-item routerLink="/users">ניהול משתמשים</button>
    <button mat-menu-item routerLink="/templates">ניהול תבניות</button>
    <button mat-menu-item routerLink="/messages">ניהול תכנים</button>
  </mat-menu>
</mat-toolbar>
