<div class="header-container">
  <mat-toolbar class="toolbar">
    <div class="logo-container">
      <img src="assets/logo.jpg" alt="לוגו" class="logo" />
    </div>

    <span class="spacer"></span>
    

    <nav class="nav-links desktop-nav">
      <a mat-button routerLink="/dashboard" routerLinkActive="active-link" class="nav-item">
        <span class="nav-text">דף הבית</span>
        <div class="nav-indicator"></div>
      </a>
      <a mat-button routerLink="/users" routerLinkActive="active-link" class="nav-item">
        <span class="nav-text">ניהול משתמשים</span>
        <div class="nav-indicator"></div>
      </a>
      <a mat-button routerLink="/templates" routerLinkActive="active-link" class="nav-item">
        <span class="nav-text">ניהול תבניות</span>
        <div class="nav-indicator"></div>
      </a>
      <a mat-button routerLink="/contents" routerLinkActive="active-link" class="nav-item">
        <span class="nav-text">ניהול תכנים</span>
        <div class="nav-indicator"></div>
      </a>
      <a mat-button routerLink="/categories" routerLinkActive="active-link" class="nav-item">
        <span class="nav-text">ניהול קטגוריות</span>
        <div class="nav-indicator"></div>
      </a>
    </nav>


    <nav class="nav-links mobile-nav" [ngClass]="{'open': isMenuOpen}">
      <div class="mobile-nav-header">
        <img src="assets/logo.jpg" alt="לוגו" class="mobile-logo" />
        <button mat-icon-button class="close-menu-btn" (click)="closeMenu()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="mobile-nav-items">
        <a mat-button routerLink="/dashboard" routerLinkActive="active-link" class="nav-item" (click)="closeMenu()">
          <mat-icon>dashboard</mat-icon>
          <span class="nav-text">דף הבית</span>
        </a>
        <a mat-button routerLink="/users" routerLinkActive="active-link" class="nav-item" (click)="closeMenu()">
          <mat-icon>people</mat-icon>
          <span class="nav-text">ניהול משתמשים</span>
        </a>
        <a mat-button routerLink="/templates" routerLinkActive="active-link" class="nav-item" (click)="closeMenu()">
          <mat-icon>description</mat-icon>
          <span class="nav-text">ניהול תבניות</span>
        </a>
        <a mat-button routerLink="/contents" routerLinkActive="active-link" class="nav-item" (click)="closeMenu()">
          <mat-icon>content_paste</mat-icon>
          <span class="nav-text">ניהול תכנים</span>
        </a>
        <a mat-button routerLink="/categories" routerLinkActive="active-link" class="nav-item" (click)="closeMenu()">
          <mat-icon>category</mat-icon>
          <span class="nav-text">ניהול קטגוריות</span>
        </a>
      </div>
    </nav>

    @if (isMenuOpen) {
    <div class="backdrop" (click)="closeMenu()"></div>
    }

    <div class="user-actions">
      <button mat-icon-button class="menu-toggle" (click)="toggleMenu()">
        <mat-icon>{{isMenuOpen? '': 'menu'}}</mat-icon>
      </button>
      <button mat-icon-button aria-label="התנתק" class="logout-btn" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>