<div class="toolbar">
    <div class="search-container">
        <input [formControl]="searchControl" placeholder="חיפוש לפי שם או מייל" class="search-input" />
        <div class="search-icon">🔍</div>
    </div>

    <button mat-raised-button class="add-button pulse-animation" (click)="addUser()">
        <span class="button-text">הוסף משתמש</span>
        <span class="button-icon">➕</span>
    </button>
</div>

<div class="cards-container">
    @for (user of filteredUsers; track user.id) {
        <div class="card-wrapper">
        <mat-card class="card mat-elevation-z8">
            <div class="card-banner" >  <!-- [ngClass]="{'admin-banner': isAdmin(user)}" -->
            </div>
            <mat-card-header>
                <div class="avatar-container">
                    <div class="avatar">{{user.userName.charAt(0)}}</div>
                </div>
                <div class="header-content">
                    <mat-card-title>{{ user.userName }}</mat-card-title>
                    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
                </div>
            </mat-card-header>

            <mat-card-content>
                <div class="info-item">
                    <span class="info-label">תפקיד:</span>
                    <span class="info-value">{{user.roles.join(', ')}}</span>
                </div>  
                <div class="info-item">
                    <span class="info-label">כמות ברכות:</span>
                    <span class="info-value">{{countCardsByUserId(user.id)}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">תאריך הרשמה:</span>
                    <span class="info-value">{{user.createdAt+'z' | date:'dd/MM/yyyy HH:mm':'Asia/Jerusalem'}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">תאריך עדכון:</span>
                    <span class="info-value">{{user.updatedAt+'z' | date:'dd/MM/yyyy HH:mm':'Asia/Jerusalem'}}</span>
                </div>
            </mat-card-content>

            <mat-card-actions class="card-actions">
                <div class="admin-toggle">
                    <button mat-button class="toggle-admin-button"> <!-- [ngClass]="{'admin-active': isAdmin(user)}" (click)="toggleAdmin(user)"> -->
                        @if (isAdmin(user)) {
                        <span>הסר הרשאת מנהל</span>
                        }
                        @else {
                        <span>הוסף כמנהל</span>
                        }
                    </button>
                </div>
                <div class="action-buttons">
                    <button mat-button class="edit-button" (click)="editUser(user)">עריכה</button>
                    <button mat-button class="delete-button" (click)="deleteUser(user.id)">מחיקה</button>
                </div>
            </mat-card-actions>
        </mat-card>
        </div>
    }
</div>