<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" (closedStart)="onCloseSidebar()">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="drawer.close()">דף הבית</a>
      <a mat-list-item routerLink="/users" (click)="drawer.close()">ניהול משתמשים</a>
      <a mat-list-item routerLink="/templates" (click)="drawer.close()">ניהול תבניות</a>
      <a mat-list-item routerLink="/messages" (click)="drawer.close()">ניהול תכנים</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/logo.jpg" alt="לוגו" class="logo" />
  </mat-toolbar>

  <ng-content></ng-content>
</mat-sidenav-container> -->
