/* You can add global styles to this file, and also import other style files */
// @use './styles/custom-theme.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    direction: rtl;
}
:root {
    --primary-dark: #1b102e;
    --primary-color: #25173b;
    --primary-light: #352252;
    --secondary-dark: #e19425;
    --secondary-color: #fbbe65;
    --secondary-light: #ffd08a;
    --text-light: #ffffff;
    --text-dark: #25173b;
    --background-light: #f8f5ff;
    --shadow-color: rgba(27, 16, 46, 0.2);
    // --primary-color: #25173b;
    // --accent-color: #eeb451;
    // --warn-color: #f44336;
    // --primary-text: #ffffff;
    // --accent-text: #000000;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
