/* You can add global styles to this file, and also import other style files */
// @use './styles/custom-theme.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    direction: rtl;
}
:root {
    --primary-color: #25173b;
    --accent-color: #eeb451;
    --warn-color: #f44336;
    --primary-text: #ffffff;
    --accent-text: #000000;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
