<div class="dashboard-container">
    <h1>לוח בקרה</h1>
    <div class="stats-container">
      <div class="stat-card">
        <h2>משתמשים רשומים</h2>
        <p>{{ statistics.usersCount }}</p>
      </div>
      <div class="stat-card">
        <h2>ברכות שנוצרו</h2>
        <p>{{ statistics.greetingsCount }}</p>
      </div>
      <div class="stat-card">
        <h2>רקעים זמינים</h2>
        <p>{{ statistics.templatesCount }}</p>
      </div>
      <div class="stat-card">
        <h2>תכנים זמינים</h2>
        <p>{{ statistics.greetingMessagesCount }}</p>
      </div>
      <div class="stat-card">
        <h2>קטגוריות</h2>
        <p>{{ statistics.templatesCount }}</p>
      </div>
    </div>
  
    <!-- <div class="recent-activities">
      <h2>פעולות אחרונות</h2>
      <ul>
        @for (activity of recentActivities; track $index) {
        <li>
          {{ activity }}
        </li>
    }
      </ul>
    </div> -->
  </div>
  
