  .template-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
    /* margin-top: 20px; */
  }
  
  .card {
    direction: rtl;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .search-input {
    width: 300px;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .mat-card-header{
    /* align-content: space-around */
    justify-content: space-between;
  }
  